# Exercises

1. Create a variable named "name" and assign the value "Your name" to it.

2. Assign: 3 to variable glass_of_water.

Let's try to see what happens after assigning a new value to our variable. Note that program gets executed line by line.


Place the variable: glass_of_water inside the print function and observe what happens.

3. Create a program through which you can add , subtract , multiply  and divide two numbers

4.

a = 9

b = 11

Swap the values of these two variables

Expected Output :

a = 11

b = 9

Write a program to accept two numbers from the user and calculate multiplication

Display three string “Name”, “Is”, “James” as “Name ** Is ** James”

Display float number with 2 decimal places using print()

Using type() function assign the type of the variable to answer_1, then print it.